/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

/* TELAS */
.screen {
  display: none;
  min-height: 100vh;
  width: 100%;
}

.screen.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== SPLASH COM IMAGEM ===== */

.splash-screen {
  position: relative;
  min-height: 100vh;
  width: 100%;

  background-image: url("./imagem.jpg"); /* IMPORTANTE */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Overlay escuro */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.7)
  );
}

/* Card central */
.splash-card {
  position: relative;
  z-index: 2;

  width: 85%;
  max-width: 400px;
  padding: 40px 25px;

  border-radius: 25px;
  text-align: center;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  color: white;

  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

/* Título */
.splash-card h1 {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

/* Subtítulo */
.splash-card p {
  font-size: 16px;
  margin-bottom: 30px;
  opacity: 0.9;
}

/* Botão */
.splash-card button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  background: linear-gradient(45deg, #ff4d00, #ff1a00);
  color: white;

  transition: 0.3s;
}

.splash-card button:hover {
  transform: translateY(-3px);
}

/*Cadastro*/
.auth-screen {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 90%;
  max-width: 400px;
  background: #1c1c1c;
  padding: 30px;
  border-radius: 20px;
  color: white;
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, #ff4d00, #ff1a00);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.alternar {
  margin-top: 15px;
  font-size: 14px;
}

.alternar span {
  color: #ff4d00;
  cursor: pointer;
  font-weight: bold;
}

.voltar {
  background: transparent;
  margin-top: 10px;
  border: 1px solid #555;
}

.lembrar {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 10px;
}
