/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* TELA BASE */
.screen {
  display: none;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.screen.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== TELA START ===== */

.start-screen {
  background: url("imagem.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

/* Camada escura por cima da imagem */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.7)
  );
}

/* Card central */
.start-card {
  position: relative;
  z-index: 2;
  width: 85%;
  max-width: 400px;
  padding: 40px 25px;
  border-radius: 25px;

  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10px);

  text-align: center;
  color: white;

  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

/* Título */
.start-card h1 {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

/* Subtítulo */
.start-card p {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 30px;
}

/* Botão */
.start-card button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  background: linear-gradient(45deg, #ff4d00, #ff1a00);
  color: white;

  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.start-card button:hover {
  transform: translateY(-3px);
}